md-list
  md-list-item
    span.label.label-primary 아이디
    p {{vm.user._id}}
  md-divider
  
  md-list-item
    span.label.label-success 레벨
    p {{vm.user.level}}
  md-list-item
    span.label.label-success 별명
    p {{vm.user.nickname}}
  md-list-item
    span.label.label-success 이메일
    p {{vm.user.email}}
  md-divider
  
  md-list-item
    span.label.label-info 가입 아이피
    p {{vm.user.ip}}
  md-list-item
    span.label.label-info 로그인 날짜
    p {{vm.user.logined | amDateFormat:'Y-MM-DD HH:mm:ss'}}
  md-list-item
    span.label.label-info 로그인 아이피
    p {{vm.user.loginip || '-'}}
  md-divider
  
  md-list-item
    span.label.label-warning 가입일
    p {{vm.user.created | amDateFormat:'Y-MM-DD HH:mm:ss'}}
  md-list-item
    span.label.label-default 정보 수정일
    p {{vm.user.updated | amDateFormat:'Y-MM-DD HH:mm:ss'}}

md-button.md-icon-button(go-back aria-label="뒤로")
  md-icon.fa.fa-lg(md-font-icon="fa-arrow-left")