div(layout="column" layout-gt-sm="row")
  span.md-title {{view.title}}
  span(flex)
  span
    md-button(md-no-ink aria-label="글쓴이")
      md-icon.fa.fa-lg(md-font-icon="fa-user")
      | &nbsp;{{view.name}}
    md-button(md-no-ink aria-label="작성일")
      md-icon.fa.fa-lg(md-font-icon="fa-clock-o")
      | &nbsp;{{view.created | amTimeAgo}}
    md-button(md-no-ink aria-label="조회수")
      md-icon.fa.fa-lg(md-font-icon="fa-eye")
      | &nbsp;{{view.hits}}

md-divider

div.content(layout-wrap layout-margin ng-bind-html="view.content")

md-divider

div(layout="row")
  md-button.md-icon-button(go-back aria-label="뒤로")
    md-icon.fa.fa-lg(md-font-icon="fa-arrow-left")
  md-button.md-icon-button(ng-href="board/{{view.board}}/write/{{view._id}}" ng-if="isOwner" aria-label="수정")
    md-icon.fa.fa-lg(md-font-icon="fa-pencil-square-o")
  md-button.md-icon-button.md-warn(ng-click="remove()" ng-if="isOwner" aria-label="삭제")
    md-icon.fa.fa-lg(md-font-icon="fa-trash")
  span(flex)
  md-button.md-icon-button.md-primary(ng-href="board/{{view.board}}/write" ng-if="isWrite" aria-label="글쓰기")
    md-icon.fa.fa-lg(md-font-icon="fa-pencil")
      
md-divider

section(layout-margin)
  md-subheader.md-no-sticky.md-accent Comments
    small ({{view.commentCount}})
  div(layout="row" ng-repeat="item in view.comments" id="c{{item._id}}")
    div(layout-padding ng-if="item.reply")
      md-icon.fa.fa-rotate-180(md-font-icon="fa-reply")
    div(flex)
      span.md-caption
        | {{item.name}} &nbsp;{{item.updated | amTimeAgo}}
      div.md-body-1(layout="row")
        p 
          span.md-caption.gray(ng-if="item.reply.depth > 1") {{item.reply.name}} &nbsp;
          | {{item.content}}
        span(flex)
        md-button.md-icon-button.md-accent.md-mini(ng-if="isComment" ng-click="replyComment(item, $index)" aria-label="답글")
          md-icon.fa(md-font-icon="fa-reply")
        span(ng-if="item.isOwner")
          md-button.md-icon-button.md-accent.md-mini(ng-if="!item.isDel && !item.replyCount" ng-click="modifyComment(item, $index)" aria-label="수정")
            md-icon.fa(md-font-icon="fa-pencil-square-o")
          md-button.md-icon-button.md-warn.md-mini(ng-if="!item.isDel || !item.replyCount" ng-click="removeComment(item, $index)" aria-label="삭제")
            md-icon.fa(md-font-icon="fa-times")
      md-divider

  form(name="form" layout="column" layout-gt-sm="row" ng-if="isComment" ng-submit="saveComment()")
    md-input-container(flex)
      label 댓글
      textarea(ng-model="comment.content" columns="1" md-maxlength="150" focus="actionIndex")
    div(layout="row" layout-align="start center")
      md-button.md-icon-button.md-raised(type="submit" ng-class="{'md-primary': !action, 'md-accent': action}" ng-disabled="!comment.content" aria-label="댓글")
        md-icon.fa.fa-lg(md-font-icon="fa-comment" ng-hide="action")
        md-icon.fa.fa-lg(md-font-icon="fa-pencil-square-o" ng-show="action == 'modify'")
        md-icon.fa.fa-lg(md-font-icon="fa-reply"  ng-show="action == 'reply'")
      md-button.md-icon-button.md-raised.md-warn(type="button" ng-show="action" ng-click="resetComment()" aria-label="되돌리기")
        md-icon.fa.fa-lg(md-font-icon="fa-undo")

  pagination(page="coPage" changed="pageChanged(page)")