form(name="form" layout="column" ng-submit="save()")
  md-input-container
    label 제목
    input(type="text" name="title" ng-model="write.title" md-maxlength="50", required)
  md-input-container(md-no-float)
    textarea(name="content" ui-tinymce ng-model="write.content" placeholder="내용을 입력하세요.", required)
  
  md-button.md-raised(type="button" ngf-select ngf-change="onFileSelect($files)" ngf-multiple="true" ng-click="this.value=null" accept="image/*")
    md-icon.fa.fa-lg(md-font-icon="fa-upload")
    |  파일첨부

  md-list(ng-show="write.files.length > 0")
    md-subheader.md-no-sticky 파일리스트
    md-list-item.list-item-float(ng-repeat="file in write.files" ng-click="fileAppend($index, $event)")
      img.md-avatar(ng-src="{{file.path+file.name}}" alt="{{file.orig}}")
      p.md-caption {{file.size / 1024 | number:1}}KB
        md-progress-linear.md-accent(md-mode="determinate" ng-value="progress[$index]" ng-show="progress[$index] > -1")
      md-icon.md-secondary.fa(md-font-icon="fa-times" ng-click="abort($index, $event)" aria-label="삭제")

  br

  md-button.md-raised.md-primary(type="submit" ng-disabled="form.$invalid" ng-show="beforeUnload") 확인
  md-progress-linear.md-warn(md-mode="indeterminate" ng-hide="beforeUnload")