{
  "extends": "airbnb/legacy",
  "rules": {
    "strict": [2, "global"],
    // https://github.com/airbnb/javascript/search?utf8=%E2%9C%93&q=new-cap&type=Code
    // add capIsNewExceptions
    "new-cap": [2, {
      "newIsCap": true,
      "capIsNewExceptions": ["express.Router"]
    }],
    // req.foo = var; $scope.foo = var;
    "no-param-reassign": [2, { "props": false }],
    // "consistent-return": 2, // 이거 불편함
    "func-names": 0,
    "no-console": 0
  }
}