{
  "extends": "airbnb-base",
  "rules": {
    // add capIsNewExceptions
    "new-cap": [2, {
      "newIsCap": true,
      "capIsNewExceptions": ["express.Router"]
    }],
    // req.foo = var; $scope.foo = var;
    "no-param-reassign": [2, { "props": false }],
    // add allow, Mongoose Object
    "no-underscore-dangle": [2, { "allowAfterThis": false, "allow": ["_id", "_update"] }],
    "consistent-return": 0, // require return
    "func-names": 0, // const fnName = function fnName() {}
    "no-console": 0 // console.*
    // "import/no-extraneous-dependencies": [2, { "devDependencies": true, "optionalDependencies": false }]
  }
}