form(name="form" layout="column" ng-submit="login()")
  md-input-container
    label 아이디
    input(type="text" name="id" ng-model="user.id" ng-pattern="/^[a-z0-9]{4,15}$/", required)
  md-input-container
    label 비밀번호
    input(type="password" name="password" ng-model="user.password" ng-minlength="6", required)

  md-button.md-raised.md-primary(type="submit" ng-disabled="form.$invalid") 로그인
